.fill_square,
.empty_square {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
  background: rgb(66, 0, 92);
  cursor: pointer;
  position: relative;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 75px;
  color: rgb(255, 255, 255);
  z-index: 10;
}
.empty_square {
  display: none;
}
@media (max-width: 560px) {
  .fill_square {
    font-size: 50px;
  }
}
@media (max-width: 355px) {
  .fill_square {
    font-size: 40px;
  }
}
