* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  text-align: center;
}
.app_header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app_title {
  color: white;
  animation: toTop infinite 2s;
}
@keyframes toTop {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
